// Colors
$white: #fff;
$ligth-gray: #757575;
$color-primary: #27282C;
$color-secondary: #E82363;


// Fonts
$roboto: 'Roboto', sans-serif;
$roboto-condensed: 'Roboto Condensed', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$hind: 'Hind Siliguri', sans-serif;